.colorUno {
    background-color: rgb(98, 166, 179);
}
.colorDos {
     background-color: rgb(106, 184, 170);
}
.colorTres {
     background-color: rgb(92, 169, 140);
}
.colorCuatro {
     background-color: rgb(108, 173, 127);
}
.colorCinco {
     background-color: rgb(129, 190, 96);
}
.colorSeis {
     background-color: rgb(217, 221, 79);
}
.colorSiete {
     background-color: rgb(232, 149, 179);
}
.colorTextoUno {
    color: rgb(98, 166, 179);
}
.colorTextoDos {
     color: rgb(106, 184, 170);
}
.colorTextoTres {
     color: rgb(92, 169, 140);
}
.colorTextoCuatro {
     color: rgb(108, 173, 127);
}
.colorTextoCinco {
     color: rgb(129, 190, 96);
}
.colorTextoSeis {
     color: rgb(217, 221, 79);
}
.colorTextoSiete {
     color: rgb(232, 149, 179);
}
.colorTextoBlanco{
    color: aliceblue;
}
.logoPrincipal{
     width: 3.5em;
     margin-right: 0px;
}
.logosPaises{
     padding: 0px;
}
.textoPaises{
     display: flex;
     vertical-align: middle;
     margin: auto;
}

.banderas{
    position:relative;
    z-index: 100;
    left: 0;
    width: 90px;
    height: 90px;
    margin-left: 0;

    text-align: center;
    /* color: white; */
    /* border: 7px solid #e9ecef; */
    /* border-radius: 100%; */
    /* background-color: #ffc800; */
}
.barraNavegacion{
     margin-left: 1.5em; 
     /* margin-right: 1.5em;  */
}
.margenIzquierda{
     margin-right: 0em; 
     padding-right: 0px;
}
section div.block-18{
     min-width: 25rem;
}
section div.first-image{
     background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.413) 0,
      rgba(92, 77, 66, 0.386) 100%
    ),
    url(../images/patagoniatree.jpeg);
}
section.second-image{
     background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.413) 0,
      rgba(92, 77, 66, 0.386) 100%
     ),
    url(../images/avellana.jpg);
 }
 .third-image{
     background: linear-gradient(
          to bottom,
          rgba(92, 77, 66, 0.413) 0,
          rgba(92, 77, 66, 0.386) 100%
         ),
         url(../images/arbolesladera.jpeg);
 }
 .forth-image{
     background: linear-gradient(
          to bottom,
          rgba(92, 77, 66, 0.413) 0,
          rgba(92, 77, 66, 0.386) 100%
         ),
          url(../images/plantacion.jpeg);
 }
/* body nav.navbar{
     background-color: rgb(98, 166, 179);
}  */
