.colorUno {
  background-color: rgb(98, 166, 179);
}
.colorDos {
  background-color: rgb(106, 184, 170);
}
.colorTres {
  background-color: rgb(92, 169, 140);
}
.colorCuatro {
  background-color: rgb(108, 173, 127);
}
.colorCinco {
  background-color: rgb(129, 190, 96);
}
.colorSeis {
  background-color: rgb(217, 221, 79);
}
.colorSiete {
  background-color: rgb(232, 149, 179);
}
.colorTextoUno {
  color: rgb(98, 166, 179);
}
.colorTextoDos {
  color: rgb(106, 184, 170);
}
.colorTextoTres {
    color: rgb(92, 169, 140);
}
.colorTextoCuatro {
    color: rgb(108, 173, 127);
}
.colorTextoCinco {
    color: rgb(129, 190, 96);
}
.colorTextoSeis {
    color: rgb(217, 221, 79);
}
.colorTextoSiete {
    color: rgb(232, 149, 179);
}
.colorTextoBlanco{
  color: aliceblue;
}
.logoPrincipal{
  width: 3.5em;
  margin-right: 0px;
}
.logosPaises{
  padding: 0px;
}
.textoPaises{
  display: flex;
  vertical-align: middle;
  margin: auto;
}

.banderas{
  position:relative;
  z-index: 100;
  left: 0;
  width: 90px;
  height: 90px;
  margin-left: 0;

  text-align: center;
}
.barraNavegacion{
  margin-left: 1.5em; 
}
.margenIzquierda{
  margin-right: 0em; 
  padding-right: 0px;
}
section div.block-18{
  min-width: 25rem;
}
header.masthead{
  background: linear-gradient(
  to bottom,
  rgba(92, 77, 66, 0.413) 0,
  rgba(92, 77, 66, 0.386) 100%
),
url(../images/patagoniatree.jpeg);
}
section.second-image{
  background: linear-gradient(
  to bottom,
  rgba(92, 77, 66, 0.413) 0,
  rgba(92, 77, 66, 0.386) 100%
  ),
url(../images/avellana.jpg);
 }
 .third-image{
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.413) 0,
      rgba(92, 77, 66, 0.386) 100%
      ),
      url(../images/arbolesladera.jpeg);
 }
 .forth-image{
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.413) 0,
      rgba(92, 77, 66, 0.386) 100%
      ),
      url(../images/plantacion.jpeg);
 }
 .page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.partner {
  margin-bottom: 3rem;
  text-align: center;
}
.partner img {
  height: 14rem;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: rgb(108, 173, 127);
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.road-map-icons{
  padding-top: 12%;
  max-width: 70%;
  height: auto;
  border-radius: 0%;
}
.road-map-icons-dao{
  max-width: 100%;
  height: auto;
  border-radius: 0%;
}
